.footer-wrapper {
    background-color: #C5997B;
    color: black;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 15px 0px 15px 0px;
    position: relative;
    bottom: 0;
    width: 100%;

    .heart {
        color: red;
    }
}